.App {
  overflow-x: hidden;
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  display: grid;
  grid-template-columns: 80px 1fr; 
}

body {
  overflow-y: scroll;
}

a {
  color: black;
}

a:visited {
  color: black;
}

.basic-flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.start-flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}


.title {  
  z-index: 5;
  font-weight: 200;
  font-size: 2em;
  text-align: center;
  margin-top: 30px;
}

.camera-image {
  max-width: 75px;
  padding-right: 10px;
  margin-top: -4px;
}

.aside {
  height: 100vh;
  position: fixed;
  padding: 25px;
  grid-column-start: 1;
  grid-column: span 1;
}

.info-main {
  margin-top: 35px;
  width: 80vw;
  font-size: 1.5em;
  padding: 0px 60px 0px 60px;
}

.nav-list {
  padding-top: 123px;
}

.aside-icon-div {
  padding: 8px; 
}

.aside-icon {
  font-size: 1.3em;
}

.content {
  grid-column-start: 2;
  padding-right: 20px;
}

.container {
  padding: 60px 30px 20px 10px;
  column-count: 4;
  column-gap: .6em;
  opacity: 1;
  transition: .2s;
}

.grid-image {
  max-width: 100%;
  opacity: 1;
  margin: 0 0 .4em;
}

#loading-div {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
}

#loading-div.hidden {
  display: none;
}


.spinner-div {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.grid-tile-spinner {
  font-size: 3em;
}

@keyframes blur {
  0% {
    filter: blur(2px);
  }
  20% {
    filter: blur(8px);
  }
  90% {
    filter: blur(1px);
  }
  100% {
    filter: blur(4px);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  70% {
    transform: rotate(16deg);
  }
  90% {
    transform: rotate(6deg);
  }
  100% {
    transform: rotate(-1deg);
  }
}


.camera-spinner {
  animation-delay: .8s;
  width: 30%;
  animation: spin 2s ease-in-out infinite;

}

.spinner-bg-image {
  width: 100%;
  filter: blur(2px);
  animation: blur 2s ease-in-out infinite;
  position: absolute;
}

.spinner-background {
  /* filter: blur(2px);
  animation: blur 2s ease-in-out infinite; */
  height: 120vh;
  width: 120vw;
  position: absolute;
  /* background: url("/img/mjm_thumb_ - 37.jpg"); */
/*   
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

/* ******************* FULL IMAGE PAGE ********************** */

.image-info {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  font-size: 1.2em;
  color: grey;
  font-style: italic;
  opacity: 0;
}

.image-info.show {
  transition-delay: .6s;
  transition: 1s;
  opacity: 1;

}

.full-image-div {
  padding: 0px 0px 40px 0px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrow-div {
  z-index: 30;
  cursor: pointer;
  padding: 6px 12px 6px 6px;
}

.back-arrow {
  color: black;
  font-size: 1.2em;
}

.single-image {
  max-width: 100%;  
  max-height: 75vh;
}

 /* *********************** media queries ********************* */

 /* @media (min-width: 1025px) and (max-width: 1280px) {

} */

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {

  .container {
    column-count: 3;
  }

}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  .container {
    column-count: 3;
    padding-top: 56px;
  }

  .nav-list {
    padding-top: 120px;
  }

}
  


/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  .container {
    column-count: 2;
    padding-top: 60px;
  }
  .title {
    font-size: 1.7em;
  }

  .nav-list {
    padding-top: 110px;
  }

  .full-image-item {
    width: 80%;
  }

  .camera-image {
    max-width: 63px;
  }

  .info-main {
    font-size: 1.2em;
    padding: 0px 10px 0px 10px;
  }


}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .container {
    column-count: 2;
    padding: 50px 30px 20px 30px;
  
  }
  .title {
    font-size: 1.3em;
  }

  .full-image-item {
    width: 80%;
  }

  .nav-list {
    padding-top: 90px;
  }
  .image-info {
    font-size: .9em;
  }

  .camera-image {
    max-width: 45px;
    padding-right: 8px;
    margin-top: 10px;
  }

  .info-main {
    font-size: 1em;
    padding: 0px 10px 0px 20px;
    width: 80vw;
  } 
 
}