.App {
  overflow-x: hidden;
  font-family: "Oswald", sans-serif;
  display: grid;
  grid-template-columns: 1fr 4fr;
  /* font-weight: 400; */
}

:root {
  --green-color: #BFBA3D;
  --header-color: #e8e6de;
  --headeropacity-color: #e8e6decc;
  --blue-color: #8AB2C2;
  --headertext-color: black;
  --orange-color: #DC5620;
}

:root {
  --primary-color: #a19d5f;
  --secondary-color: #fd9943;
  --accent-color: #3f2806;
  --alt-color: #fed556;
  --alttwo-color: #f26d20;
}

.basic-flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.basic-flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}




/*************** grid *************/

.aside {
background-color: pink;
 
}

.container {
  grid-column-start: 2;
  padding: 40px;
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  /* grid-template-rows: repeat(auto-fill, minmax(auto, 1fr)); */
  grid-gap: 10px;
  grid-auto-flow: dense;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* font-size: 4em; */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid-image {
  max-width: 100%;
 min-width: 300px;

}



