.App {
  overflow-x: hidden;
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  display: grid;
  grid-template-columns: 1fr 6fr;
  /* font-weight: 400; */
}

:root {
  --green-color: #BFBA3D;
  --header-color: #e8e6de;
  --headeropacity-color: #e8e6decc;
  --blue-color: #8AB2C2;
  --headertext-color: black;
  --orange-color: #DC5620;
}

:root {
  --primary-color: #a19d5f;
  --secondary-color: #fd9943;
  --accent-color: #3f2806;
  --alt-color: #fed556;
  --alttwo-color: #f26d20;
}

.basic-flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.start-flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: flex-end;
      -ms-flex-pack: flex-end;
          justify-content: flex-end;
  -webkit-box-align: flex-start;
      -ms-flex-align: flex-start;
          align-items: flex-start;
}




/*************** grid *************/
.name-heading {
    font-weight: 200;
    font-size: 4em;
    text-align: center;
    /* width: 100vw; */
    grid-column-start: 2;
    grid-row: 1 2;
}

.aside {
 height: 100vh;
 position: fixed;
 background-color: pink;
 padding: 25px;
 
}

.container {
  grid-column-start: 2;
  padding: 40px;
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-template-rows: 1fr auto-fill;
  grid-gap: 20px;
  grid-auto-flow: dense;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* font-size: 4em; */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loading-div {
    position: absolute;
    animation: spin .6s linear infinite;
}

.grid-tile-spinner {

    font-size: 3em;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}




.grid-image {
max-width: 100%;
z-index: 2
 /* min-width: 70%; */

}

.image-info {
    /* opacity: 0; */
    width: 100%;
    position: absolute;
    background-color: rgba(255, 255, 255, .4);
    z-index: 3;
}

/* .image-info:hover {
    opacity: 1;
} */



